
#bodyimage {
    background-image: url("/images/newspaperlong.jpg");
    padding-top: 70px;
}

.deleteNote {
	display: inline-block;
}

.previousNotes {
    display: inline-block;
    width: 90%
}

#scrape {
    margin: 8px 0px;
}

.addNote,
.scrapeItems,
.save {
	background-color: #89c697;
	color: white;
}

.delete,
.deleteNote {
	background-color: #ffab91;
	color: white;
}